<!-- views/profile.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/public_html/img/hivescript_new_logo.png">
    <link id="cssFile" rel="stylesheet" type="text/css" href="/public_html/account/view/profile/profile.css">
    <!--Adding Bootstrap Part 1-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <script src='https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <title>My Profile</title>
</head>
<body>
    <div class="container bootstrap snippets bootdey profile-box">
        <div class="row">
            <div class="profile-nav col-md-3">
                <div class="user-heading round">
                    <a href="#">
                        <img src="https://avatars.dicebear.com/api/adventurer-neutral/mail%40ashallendesign.co.uk.svg">
                    </a>
                    <h1><b><%= user.firstName %> <%= user.lastName %></b></h1>
                    <p><i>@<%= user.username %></i></p>
                    <p>Member Since <%= user.dateJoined %></p>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#" onclick="showTab('profile-tab')"> <i class="fa fa-user"></i>Profile</a></li>
                    <li><a href="#notifications" onclick="showTab('notifications-tab')"> <i class="fa fa-calendar"></i>Notifications <span class="label label-warning pull-right r-activity"><%= user.unreadNotifications %></span></a></li>
                    <li><a href="#edit" onclick="showTab('edit-tab')"> <i class="fa fa-edit"></i>Edit Profile</a></li>
                </ul>
            </div>
            <div class="panel">
                <div class="profile-graph-heading">
                    Your HiveScript Profile
                </div>
                <div class="panel-body profile-content" id="profile-tab">
                    <!-- Profile Content -->
                    <h1>Profile</h1>
                    <div class="row">
                        <div class="bio-row">
                            <p><span>First Name </span>: <%= user.firstName %></p>
                        </div>
                        <div class="bio-row">
                            <p><span>Last Name </span>: <%= user.lastName %></p>
                        </div>
                        <div class="bio-row">
                            <p><span>Username </span>: <%= user.username %></p>
                        </div>
                        <div class="bio-row">
                            <p><span>Display Name </span>: <%= user.displayName %></p>
                        </div>
                    </div>
                </div>
                <div class="panel-body profile-content" id="notifications-tab" style="display: none;">
                    <!-- Notifications Content -->
                    <h1>Notifications</h1>
                    <p>Notification content goes here.</p>
                    <section class="content inbox">
                        <div class="container-fluid">
                 
                            <div class="row clearfix">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <ul class="mail_list list-group list-unstyled">
                                        <li class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left">                                
                                                    <div class="controls">
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="basic_checkbox_1">
                                                            <label for="basic_checkbox_1"></label>
                                                        </div>
                                                    </div>
                                                    <div class="thumb hidden-sm-down m-r-20"> <img src="assets/images/xs/avatar1.jpg" class="rounded-circle" alt=""> </div>
                                                </div>
                                                <div class="media-body">
                                                    <div class="media-heading">
                                                        <a href="mail-single.html" class="m-r-10">Velit a labore</a>
                                                        <span class="badge bg-blue">Family</span>
                                                        <small class="float-right text-muted"><time class="hidden-sm-down" datetime="2017">12:35 AM</time><i class="zmdi zmdi-attachment-alt"></i> </small>
                                                    </div>
                                                    <p class="msg">Lorem Ipsum is simply dumm dummy text of the printing and typesetting industry. </p>
                                                </div>
                                            </div>
                                        </li>
                                        
                                        <li class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left">
                                                    <div class="controls">
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="basic_checkbox_3">
                                                            <label for="basic_checkbox_3"></label>
                                                        </div>
                                                    </div>
                                                    <div class="thumb hidden-sm-down m-r-20"> <img src="assets/images/xs/avatar3.jpg" class="rounded-circle" alt=""> </div>
                                                </div>
                                                <div class="media-body">
                                                    <div class="media-heading">
                                                        <a href="mail-single.html" class="m-r-10">Velit a labore</a>
                                                        <span class="badge bg-red">Google</span>
                                                        <small class="float-right text-muted"><time class="hidden-sm-down" datetime="2017">12:35 AM</time><i class="zmdi zmdi-attachment-alt"></i> </small>
                                                    </div>
                                                    <p class="msg"> If you are going to use a passage of Lorem Ipsum, you need to be sure</p>                                
                                                </div>
                                            </div>
                                        </li>
                                        
                                        <li class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left">
                                                    <div class="controls">
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="basic_checkbox_5">
                                                            <label for="basic_checkbox_5"></label>
                                                        </div>
                                                    </div>
                                                    <div class="thumb hidden-sm-down m-r-20"> <img src="assets/images/xs/avatar5.jpg" class="rounded-circle" alt=""> </div>
                                                </div>
                                                <div class="media-body">
                                                    <div class="media-heading">
                                                        <a href="mail-single.html" class="m-r-10">Generators on the Internet</a>
                                                        <span class="badge bg-green">Work</span>
                                                        <small class="float-right text-muted"><time class="hidden-sm-down" datetime="2017">12:35 AM</time><i class="zmdi zmdi-attachment-alt"></i> </small>
                                                    </div>
                                                    <p class="msg">LAll the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p>                                
                                                </div>
                                            </div>
                                        </li>
                                        
                                        <li class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left">
                                                    <div class="controls">
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="basic_checkbox_6">
                                                            <label for="basic_checkbox_6"></label>
                                                        </div>
                                                    </div>
                                                    <div class="thumb hidden-sm-down m-r-20"> <img src="assets/images/xs/avatar6.jpg" class="rounded-circle" alt=""> </div>
                                                </div>
                                                <div class="media-body">
                                                    <div class="media-heading">
                                                        <a href="mail-single.html" class="m-r-10">Contrary to popular</a>
                                                        <span class="badge bg-blush">Themeforest</span>
                                                        <small class="float-right text-muted"><time class="hidden-sm-down" datetime="2017">12:35 AM</time><i class="zmdi zmdi-attachment-alt"></i> </small>
                                                    </div>
                                                    <p class="msg">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left">
                                                    <div class="controls">
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="basic_checkbox_7">
                                                            <label for="basic_checkbox_7"></label>
                                                        </div>
                                                    </div>
                                                    <div class="thumb hidden-sm-down m-r-20"> <img src="assets/images/xs/avatar7.jpg" class="rounded-circle" alt=""> </div>
                                                </div>
                                                <div class="media-body">
                                                    <div class="media-heading">
                                                        <a href="mail-single.html" class="m-r-10">Velit a labore</a>
                                                        <span class="badge bg-green">Work</span>
                                                        <small class="float-right text-muted"><time class="hidden-sm-down" datetime="2017">12:35 AM</time><i class="zmdi zmdi-attachment-alt"></i> </small>
                                                    </div>
                                                    <p class="msg">Lorem Ipsum is simply dumm dummy text of the printing and typesetting industry. </p>                                
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left">
                                                    <div class="controls">
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="basic_checkbox_8" checked="">
                                                            <label for="basic_checkbox_8"></label>
                                                        </div>
                                                    </div>
                                                    <div class="thumb hidden-sm-down m-r-20"> <img src="assets/images/xs/avatar8.jpg" class="rounded-circle" alt=""> </div>
                                                </div>
                                                <div class="media-body">
                                                    <div class="media-heading">
                                                        <a href="mail-single.html" class="m-r-10">Variations of passages</a>
                                                        <span class="badge bg-blush">Themeforest</span>
                                                        <small class="float-right text-muted"><time class="hidden-sm-down" datetime="2017">12:35 AM</time><i class="zmdi zmdi-attachment-alt"></i> </small>
                                                    </div>
                                                    <p class="msg">There are many variations of passages of Lorem Ipsum available, but the majority </p>                                
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left">
                                                    <div class="controls">
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="basic_checkbox_9">
                                                            <label for="basic_checkbox_9"></label>
                                                        </div>
                                                    </div>
                                                    <div class="thumb hidden-sm-down m-r-20"> <img src="assets/images/xs/avatar9.jpg" class="rounded-circle" alt=""> </div>
                                                </div>
                                                <div class="media-body">
                                                    <div class="media-heading">
                                                        <a href="mail-single.html" class="m-r-10">Generators on the Internet</a>
                                                        <span class="badge bg-green">Work</span>
                                                        <small class="float-right text-muted"><time class="hidden-sm-down" datetime="2017">12:35 AM</time><i class="zmdi zmdi-attachment-alt"></i> </small>
                                                    </div>
                                                    <p class="msg">LAll the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p>                                
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="media">
                                                <div class="pull-left">
                                                    <div class="controls">
                                                        <div class="checkbox">
                                                            <input type="checkbox" id="basic_checkbox_10">
                                                            <label for="basic_checkbox_10"></label>
                                                        </div>
                                                    </div>
                                                    <div class="thumb hidden-sm-down m-r-20"> <img src="assets/images/xs/avatar10.jpg" class="rounded-circle" alt=""> </div>
                                                </div>
                                                <div class="media-body">
                                                    <div class="media-heading">
                                                        <a href="mail-single.html" class="m-r-10">Velit a labore</a>
                                                        <span class="badge bg-blue">Family</span>
                                                        <small class="float-right text-muted"><time class="hidden-sm-down" datetime="2017">12:35 AM</time><i class="zmdi zmdi-attachment-alt"></i> </small>
                                                    </div>
                                                    <p class="msg">Lorem Ipsum is simply dumm dummy text of the printing and typesetting industry. </p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                        
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="panel-body profile-content" id="edit-tab" style="display: none;">
                    <!-- Edit Profile Content -->
                    <h1>Edit Profile</h1>
                    <p>Edit profile content goes here.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="/public_html/account/view/profile/profile.js"></script>
</body>
</html>
