<!-- views/profile.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/public_html/img/hivescript_new_logo.png">
    <link id="cssFile" rel="stylesheet" type="text/css" href="/public_html/account/view/profile/profile.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <!--Adding Bootstrap Part 1-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <!-- part 2 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>My Profile</title>
</head>
<body>
    <div class="container bootstrap snippets bootdey profile-box">
        <div class="row">
            <div class="profile-nav col-md-3">
                <div class="user-heading round">
                    <div user-initials="<%= user.firstName[0] %><%= user.lastName[0] %>"></div>

                    <h1><b><%= user.firstName %> <%= user.lastName %></b></h1>
                    <p><i>@<%= user.username %></i></p>
                    <p>Member Since <%= user.dateJoined %></p>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#" onclick="showTab('profile-tab')"> <i class="fa fa-user"></i>Profile</a></li>
                    <li><a href="#notifications" onclick="showTab('notifications-tab'); readNotifications('<%= user.username %>')"> <i class="fa fa-calendar"></i>Notifications <span class="label label-warning pull-right r-activity"><%= user.unreadNotifications %> UNREAD</span></a></li>
                    <li><a href="#edit" onclick="showTab('edit-tab')"> <i class="fa fa-edit"></i>Edit Profile</a></li>
                    <li><a href="/"> <i class="fa-solid fa-house"></i>Back to Home</a></li>
                </ul>
            </div>
            <div class="panel">
                <div class="profile-graph-heading">
                    Your HiveScript Profile
                </div>
                <div class="panel-body profile-content" id="profile-tab" data-initial-tab="<%= tab === 'profile' ? 'active' : '' %>">
                    <!-- Profile Content -->
                    <h1>Profile</h1>
                    <div class="row">
                        <div class="bio-row">
                            <p><span>First Name </span>: <%= user.firstName %></p>
                        </div>
                        <div class="bio-row">
                            <p><span>Last Name </span>: <%= user.lastName %></p>
                        </div>
                        <div class="bio-row">
                            <p><span>Username </span>: <%= user.username %></p>
                        </div>
                        <div class="bio-row">
                            <p><span>Display Name </span>: <%= user.displayName %></p>
                        </div>
                    </div>
                </div>
                <div class="panel-body profile-content" id="notifications-tab" style="display: none;" data-initial-tab="<%= tab === 'notifications' ? 'active' : '' %>">
                    <!-- Notifications Content -->
                    <h1>Notifications</h1>
                    
                    <i class="fa fa-trash-o" id="trash-button" onclick="deleteNotifications('<%= user.username %>')"></i>
                    <section class="content inbox">
                        <div class="container-fluid">
                            <div class="row clearfix">
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <label for="selectAllNotifications" id="selectAll">All</label>
                                    <input type="checkbox" class="checkbox" id="selectAllNotifications" onchange="toggleAllCheckboxes(this)">
                                    
                                    <ul class="mail_list list-group list-unstyled">
                                        <% user.notifications.forEach(notification => { %>
                                            <li class="list-group-item">
                                                <div class="media">
                                                    <div class="pull-left">
                                                        <div class="controls">
                                                            <div class="checkbox">
                                                                <!-- Use the notification ID as the checkbox ID -->
                                                                <input type="checkbox" id="<%= 'notification_checkbox_' + notification._id %>">
                                                                <label for="<%= 'notification_checkbox_' + notification._id %>"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="media-heading">
                                                            <a href="/project/<%= notification.projectID %>" class="m-r-10"><%= notification.title %></a>
                                                            <span class="badge bg-blue"><%= notification.type %></span>
                                                            <small class="float-right text-muted">
                                                                <time class="hidden-sm-down" datetime="<%= notification.timestamp.toISOString() %>">
                                                                    <%= notification.timestamp.toLocaleString() %>
                                                                </time>
                                                            </small>
                                                        </div>
                                                        <p class="msg"><%= notification.message %></p>
                                                    </div>
                                                </div>
                                            </li>
                                        <% }); %>
                                    </ul>
                        
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="panel-body profile-content" id="edit-tab" style="display: none;" data-initial-tab="<%= tab === 'edit' ? 'active' : '' %>">
                    <!-- Edit Profile Content -->
                    <h1>Edit Profile</h1>
                    <p>Edit profile content goes here.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="/public_html/account/view/profile/profile.js"></script>
</body>
</html>
